@panel-bg-color: #8e8e8e;
@panel-text-color: #303030;

@light-bevel-color: #fff;
@dark-bevel-color: #656565;

@selected-color: #006500;
@title-color: #000065;

@text-shadow-color: #000;

@text-input-title-color: #0000ff;
@text-input-text-color: #fff;

@input-background-color: #303030;
@text-shadow-color-title: #303030;

@font-face
{
font-family: systemFont;
src: url('../fonts/unifont.ttf');
}

body
{
  background-color: #000;
  margin:0;
  background-image: url('../images/bg.png');
}

.panel{
  margin:0 auto;
  font-family: systemFont;
  
  
  padding-top: 0px;
  
  width: 362px;
  background-color: @panel-bg-color;
  border-color: @light-bevel-color @dark-bevel-color @dark-bevel-color @light-bevel-color;
  border-style: solid;
  border-width: 1px;
}

.content{
  margin:0 10px 10px 10px;
  padding: 5px 2px 10px;
  

  background-color: #000;
  border-color: @dark-bevel-color @light-bevel-color @light-bevel-color @dark-bevel-color;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  
  li{
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    line-height: 13px;
    padding: 1px 15px;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
   }
}

li>span:before{
  content: '\25C0';
  }
  
 li> span:after{
    content: '\25B6';
}

li>span{
  float: right;
}
li>span>span{
  display: inline-block; 
  width: 160px; 
  text-align: center;
}

.anchor{
  color: #fff;
  float: right;
}
