@panel-bg-color: #8e8e8e;
@panel-text-color: #303030;

@light-bevel-color: #fff;
@dark-bevel-color: #656565;

@selected-color: #006500;
@title-color: #000065;

@text-shadow-color: #000;

@text-input-title-color: #0000ff;
@text-input-text-color: #fff;

@input-background-color: #303030;
@text-shadow-color-title: #303030;

@font-face
{
font-family: systemFont;
src: url('../fonts/unifont.ttf');
}

body
{
  background-color: #000;
  margin:0;
  background-image: url('../images/bg.png');
}

.panel{
  margin:0 auto;
  font-family: systemFont;
  
  
  padding-top: 0px;
  
  width: 362px;
  background-color: @panel-bg-color;
  border-bottom-color: @dark-bevel-color;
  border-right-color: @dark-bevel-color;
  border-top-color: @light-bevel-color;
  border-left-color: @light-bevel-color;
  border-style: solid;
  border-width: 1px;
}

.content{
  margin:10px;
  margin-top: 0px;
  
  padding:2px;
  padding-bottom: 10px;
  padding-top: 5px;
  

  background-color: #000;
  border-color: #fff;
  border-top-color: #656565;
  border-left-color: #656565;
  color: #fff;
  border-style: solid;
  border-width: 1px;
}

.anchor{
  color: #fff;
  float: right;
}
